# Self

.gitignore

# Binaries

*.bak
*.chm
*.dll
*.exe
*.exp
*.lib
*.obj
*.ocx
*.res

# Documents

*.pdf
*.rtf

# Images

*.bmp
*.gif
*.jpg
*.png
*.tif

# Other

*.csi
*.ini
*.log
*.lvw
*.scc
*.tmp
*.vbg

# Folders

test/